<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/normalize.css">
    <link rel="stylesheet" href="../public/css/skeleton.css">
    <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
    <div class="container">
        <h1>Show Line Item</h1>
        <a href="/budgets"><button>Back to Index</button></a>
        date: <%= budget.date %>
        <br>
        name: <%= budget.name %>
        <br>
        from: <%= budget.from %>
        <br>
        amount: <%= budget.amount %>
        <br>
        tags: <%= budget.tags %>
    </div>
</body>
</html>